html 
{
    box-sizing: border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    color:#444;
    margin: 0 auto;
}
.hide-scrollbars 
{
    overflow:hidden;
}

/* Flexbox defaults */
.flex-box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

/* Prevent tap highlight and text selection */
.no-select 
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

/* Navbars */
.nav 
{
    height: 3rem;
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    white-space: nowrap;
    justify-content: center;
}
.nav-link, .nav-icon
{
    justify-content: center;
    align-items:center;
}
.nav-link
{
    border-right: solid 1px #144733;
    text-decoration: none;
    color: rgba(20, 71, 51, 1);
    flex: 1;
}
.nav-link:hover
{
    text-decoration: underline;
}
.nav-icon
{
    flex:0 0 3rem;
    padding:0.7rem;
}
.nav-icon img
{
    opacity: 0.7;
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.nav-icon:hover img 
{
    opacity: 1
}
.header
{
    top: 0;
    border-bottom: solid 1px #144733;
}
.footer 
{
    bottom: 0;
    border-top: solid 1px #144733;
}
#nav-about
{
    display:none;
}

/* Icon Links */
#facebook
{
    background:#3b5998;
}
#airbnb
{
    background:#ff5a5f;
}

/* Banner */
.banner
{
    margin-top:3rem;
    flex-flow: column nowrap;
    height:calc(100vh - 3rem);
}
.banner > div
{
    flex:1;
}
.banner-logo
{
    cursor:pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex:1;
    margin:40px;
}

/* Sections */
.main > section:nth-child(odd)
{
    background-color: #f9f9f9;
}
.section
{
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width:1000px;
    padding: 3rem 0; 
}
.section-content
{
    flex-flow: column nowrap;
}
.section-header
{
    color:#144733;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:12vw;
    margin:10px;
    text-align:center;
}
.section-images 
{
    justify-content:center;
    margin:2px;
    flex-flow: column nowrap;
}
.section-images > div > div
{
    flex:1;
    margin:2px;
}
.section-info
{   
    flex-flow: column nowrap;
    justify-content:center;
    margin:10px;
    line-height:1.8rem;
}

/* Centered background images */
.bg-img
{
    cursor:pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* images */
.ratio-16-9 {padding-bottom:56.25%;}
.ratio-4-3 {padding-bottom:75%;}
.ratio-1-1 {padding-bottom:100%;}

/* map */
.map
{
    background-size: contain;
}

/* Slideshow */
.slideshow 
{
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s;
}
.slideshow-active
{
    z-index: 2000;
    visibility: visible;
    opacity: 1;
}
.slideshow-slide 
{
    visibility: hidden;
}
.slideshow-slide-active
{
    visibility: visible;
}
.slideshow-img 
{
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    align-items:center;
    justify-content: center;
}
.slideshow-img img 
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.slideshow-text 
{
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    color:#fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    padding:1rem;
}
.slideshow-close, .slideshow-prev, .slideshow-next 
{
    position: absolute;
    top: 0;
    align-items:center;
    justify-content: center;
    color:#fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    opacity:0.5;
    cursor: pointer;
    width: 5rem;
}
.slideshow-close:hover, .slideshow-prev:hover, .slideshow-next:hover 
{
    opacity:1;
}
.slideshow-prev, .slideshow-next
{
    font-size:3rem;
    bottom:0;
} 
.slideshow-prev
{
    left: 0;
} 
.slideshow-next 
{
    right: 0;
}
.slideshow-close 
{
    font-size:4rem;
    right: 0;
}

/* Responsive Design - Default css styles are portrait first */

/* Landscape and width > 999px */
@media (orientation:landscape) and (min-width: 1000px) 
{
    /* Navbar */
    .nav-link
    {
        flex: 0 0 auto;
        padding: 0 3rem;
    }

    /* Banner */
    .banner
    {
        flex-flow: row nowrap;
    }

    /* Section */
    .main > section:nth-child(even) .section-content
    {
        order: 2;
    }
    .main > section:nth-child(even) .section-images
    {
        margin-right:25px;
    }
    .main > section:nth-child(odd) .section-images
    {
        margin-left:25px;
    }
    .section
    {
        flex-flow: row nowrap;
        padding: 3rem 30px; 
    }
    .section-header
    {
        font-size:9vh;
    }
    .section-info
    {
        flex: 1 1 auto; /* Fixes text overflow bug in IE11 */ 
    }
    .section-content, .section-images
    {
        flex:1;
    }
    .section-images 
    {
        margin:5px;
    }
    .section-images > div > div
    {
        margin:5px;
    }
}

/* Widths used in chrome dev tools */
@media all and (max-width: 320px) /* Mobile S - 320px */
{

}
@media all and (min-width: 321px) /* Mobile M - 375px */
{

}
@media all and (min-width: 376px) /* Mobile L - 425px */
{

}
@media all and (min-width: 426px) /* Tablet - 768px */
{
    /* Nav */
    #nav-about
    {
        display:flex;
    }
}
@media all and (min-width: 769px) /* Laptop - 1024px */
{

}
@media all and (min-width: 1025px) /* Laptop L - 1440px  */
{

}
@media all and (min-width: 1441px) /* 4k */
{

}